部分テンプレート
<div class="col-md-8 offset-md-1">
 <h2>Book detail</h2>
  <table class="table">
  <tbody>
    <% @book.each do |book| %>
    <tr>
      <td><%= image_tag user.book_image.get_image %></td>
      <td><%= link_to book_path(@book.id), book.title %></td>
      <td><%= book.body %></td>
      <td colspan="3"></td>
      <td><%= link_to 'Edit', edit_book_path(@book), class: btn btn-sm btn-success %></td>
      <td><%=link_to 'Destroy', books_path, class: btn btn-sm btn-danger, method: :delete, "data-confirm"=>"本当に消しますか？" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
  